---
pagination:
  data: projets
  size: 1
  alias: projet
permalink: "projets/{{ projet.attributes.nom | slugify }}/"
---

{% extends "./_layouts/default.njk" %}

{%- set title = ["Projet", projet.attributes.nom] | join(" ") %}

{% block content %}
  <div class="photos-grid">
    {% for media in projet.attributes.medias.data %}
      {% galleryImage media %}
    {% endfor %}
  </div>


  <div class="projet-description">
    {{ projet.attributes.description | markdown | safe }}
  </div>
{% endblock %}
