---
pagination:
  data: tags
  size: 1
  alias: tag
permalink: "tags/{{ tag.attributes.titre | slugify }}/"
---

{%- set title = tag.attributes.titre %}
{% extends "./_layouts/default.njk" %}

{% block content %}
  {% for projet in tag.projets %}
    {% if projet.nom %}
      <h3>
        <a href="/projets/{{ projet.nom | slugify }}">
          Projet {{projet.nom}}
        </a>
      </h3>
    {% endif %}
    <div class="photos-grid">
      {% for media in projet.medias %}
        {% galleryImage media, "<a href='/'>{{tag.attributes.titre}}</a>" %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
