<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Future</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Future" />
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="/css/water.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <div class="title">
      <h1>
        <a href="/">Future</a>
      </h1>
    </div>
    <nav>
      <a href="#">☰</a>
    </nav>
  </header>
  <main>
    <nav class="hide">
      <div class="nav-columns">
        <h2>Projets</h2>
        <ul>
          {% for projet in projets %}
            <li>
              <a href="/projets/{{ projet.attributes.nom | slugify }}">
                {{ projet.attributes.nom }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% for rubrique in rubriques %}
          <div class="menu-group">
            <h2>{{ rubrique.attributes.titre }}</h2>
            <ul>
              {% for tag in rubrique.attributes.tags.data %}
                <li>
                  <a href="/tags/{{ tag.attributes.titre | slugify }}">
                    {{ tag.attributes.titre }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <a href="/a-propos">À propos</a>
    </nav>

    {% if title %}
      <h2 class="page-title">{{ title }}</h2>
    {% endif %}

    {{ content | safe }}
    {% block content %}{% endblock %}
  </main>
  <script src="/js/future.js"></script>
</html>
