@font-face {
  font-family: 'Satoshi';
  src:  url('/css/Satoshi-Variable.woff2') format('woff2');
}

:root {
  --text-main: #e88339;
  --text-bright: #e88339;
  --text-muted: #e88339;
}

*, body {
  font-family: Satoshi;
  font-weight: 300;
}
a {
  color: inherit;
}

/*  header and menu */

header {
  display: flex;
  align-items: baseline;
  margin: 2rem 0 1rem 0;
  padding: 0;
}
header h1 {
  margin: 0;
}
header nav {
  font-size: 2rem;
}
header .title {
  flex: 1;
  text-align: left;
  margin: 0;
  padding: 0;
}
main h2.page-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 0;
}

header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text-main);
}

/* main {
  position: relative;
} */
main nav {
  /* padding: 0 2rem; */
}
main nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body nav h2 {
  font-size: inherit;
  margin: 0;
}
main .nav-columns {
  columns: 3;
}
main nav .menu-group {
  break-inside: avoid-column;
}
main nav ul,
main nav>a {
  display: block;
  margin-bottom: 1rem;
}
.a-propos {
  margin: 2rem 0 1rem 0;
}


/* main h2 {
  margin-bottom: 2rem;
} */
.fil-ariane {
  opacity: 0.7;
}

/* utilities */

.hide {
  display: none;
}

/* medias display */

figure {
  margin: 0;
  text-align: center;
}
.photos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}
@media (min-width: 800px) {
  .photos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* projets */

.projet-description {
  margin-top: 3rem;
}

/*
  force hide photoswipe stretched thumb while actual image loads because our thumbs have
  different aspect ratios than the actual images and that is not handled by photoswipe
 */
.pswp__img--placeholder {
  display: none !important;
}
